extends layout

block header
  +blogheader

block main
  .row
    each article in pagination.files
      .col-md-12
        +article_excerpt(article.title, article.date, article.path)
          != article.excerpt
          p
            a(href="/" + article.path) Read more...
        hr.subtle

  .row
    .col-md-12
      nav
        .text-xs-center
          ul.pagination.pagination-lg
            li.page-item(class=pagination.previous ? "" : "disabled")
              if pagination.previous
                a.page-link(href="/" + _.get(pagination.previous, "path", "#"))
                  span.fa.fa-chevron-left
              else
                span.page-link
                  span.fa.fa-chevron-left
            - var this_index = pagination.index
              each page in pagination.getPages(5)
                - var page_index = page.pagination.index
                  li.page-item(class=pagination_classes(this_index, page_index))
                    a.page-link(href="/" + page.path + "/")= page.pagination.num
            li.page-item(class=pagination.next ? "" : "disabled")
              if pagination.next
                a.page-link(href="/" + _.get(pagination.next, "path", "#"))
                  span.fa.fa-chevron-right
              else
                span.page-link
                  span.fa.fa-chevron-right
